<ion-view view-title="Login | NEYMARize yourself">
  <ion-content class="padding">
    <div class="bar bar-header bar-light">
      <h1 class="title">Login | NEYMARize yourself</h1>
    </div>
    <div class="list has-header">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" ng-model="login.username" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="login.password" placeholder="Password">
      </label>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Stay Logged In
      </div>
      <div class="row">
        <button class="button button-block button-positive" ng-click="login.login()">
          Login
        </button>
      </div>
      <div class="item item-divider text-center">
        Or
      </div>
      <div class="row">
        <button class="button button-block button-positive">
          Mode Offline
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
