<ion-view title="Deck">
  <ion-content>
    <h1>{{deck.deck.name}}</h1>

    <div class="row">
      <button class="button button-positive">Practice ({{deck.deck.practiceTimes}})</button>
      <button class="button button-positive">Learn</button>
    </div>
    <h1>description</h1>
    <p>{{deck.deck.description}}</p>
    <div></div>
    <h1>Equipment required</h1>
    <div class="list">
      <div ng-repeat="equipment in deck.requiredEquipment track by $index"
           class="item item-thumbnail-left">
        <img ng-src="{{equipment.srcUrl}}">
        <p>{{equipment.name}} x {{equipment.quantity}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
