<ion-view view-title="Home Online & Leader board">
  <ion-content>
    <h3>Current decks</h3>

    <div class="deck" collection-repeat="deck in home.decks track by $index" item-width="33.33%"
         item-height="100px" ui-sref="main.deck({id: deck.$id})">
      <img ng-src="{{deck.srcUrl}}" alt="{{deck.name}}"/>
    </div>
    <div class="row">
      <button class="button button-block button-balanced" ui-sref="main.addDeck">
        Add deck
      </button>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ui-sref="main.home.leaderboard">
        <i class="icon ion-star"></i>
        Leaderboard
      </a>
      <a class="tab-item" ui-sref="main.home.progress">
        <i class="icon ion-chatbox"></i>
        Progress
      </a>
    </div>
    <ion-nav-view name="tabContent"></ion-nav-view>
  </ion-content>
</ion-view>
